@charset "uft-8";
$font-main: "Noto Sans KR", system-ui, sans-serif;
$bg-glass: rgba(255, 153, 0, 0.45);
$bg-dark: #ff9900;
$text-dark: rgb(255, 115, 0);
$text-white: rgba(255, 255, 255, 0.95);
$text-muted: rgba(255, 255, 255, 0.6);
$radius: 6px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
}

.fnq {
  min-height: 100vh;
  padding: 40px 24px;
  position: relative;
  background:
    linear-gradient(rgb(245, 226, 200), rgba(255, 153, 0, 0.699))
}

.container {
  max-width: 1100px;
  margin: 0 auto;

  .top-right {
    text-align: right;
    font-weight: 700;
  }

  .title {
    text-align: right;
    font-size: 52px;
    font-weight: 800;
    line-height: 1.2;
    margin: 60px 0 70px;
    color: $text-dark;
  }
}

form {
  .box {
    display: flex;
    align-items: center;
    padding: 18px 20px;
  }

  .grid {
    display: flex;
    gap: 24px;

    .box {
      gap: 16px;
      background: $bg-glass;
      border-radius: $radius;
      backdrop-filter: blur(12px);

      .label {
        width: 70px;
        font-weight: 700;
        font-size: 14px;
        color: $text-white;
        flex-shrink: 0; //크기가 줄어들지 않도록 고정
      }

      input,
      textarea {
        width: 100%;
        border: none;
        outline: none;
        background: transparent;
        font-size: 15px;
        color: $text-white;
        font-family: $font-main;

        &::placeholder {
          color: $text-muted;
        }
      }

      &.textarea {
        align-items: flex-start;
        height: 210px;

        textarea {
          resize: none;
          min-height: 170px;
          line-height: 1.6;
        }
      }
    }
  }

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  .right {
    flex: 1.1;
  }
}

.bottom {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 14px;

  .agree {
    font-size: 14px;
    font-weight: 600;
    color: $text-white;
    padding-right: 8px;
  }

  input[type="checkbox"] {
    width: 18px;
    height: 18px;
    accent-color: $bg-dark;
  }

  .send {
    margin-left: auto;
    width: 520px;
    max-width: 55%;
    height: 64px;
    border: none;
    border-radius: $radius;
    background: $bg-dark;
    color: #fff;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      opacity: 0.7;
    }
  }
}

@media (max-width: 900px) {
  .title {
    font-size: 40px;
    margin-bottom: 40px;
  }

  form {
    .grid {
      flex-direction: column;
    }
  }

  .bottom {
    flex-wrap: wrap;

    .send {
      width: 100%;
      max-width: 100%;
    }
  }
}