.table_wrap {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.create_btn {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;

  button {
    border: 1px solid #ff9900;
    color: #ff9900;
    background-color: transparent;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 50px;
    margin-bottom: 10px;
    margin-right: 0;
    transition: 0.5s;

    &:hover {
      background-color: #ff9900;
      color: #fff;
    }
  }

}

.data_list {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-bottom: 50px;

  th {
    border: 1px solid #ff9900;
    text-transform: uppercase;
    padding: 10px 8px;
    color: #fff;
    background-color: #ff9900;
  }

  td {
    border: 1px solid #ccc;
    position: relative;
    text-align: center;
    padding: 6px 10px;

    button {
      border: none;
      margin: 2px;
      padding: 10px 24px;
      transition: 0.3s;
      border-radius: 50px;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.753);
    }

    .edit_btn {
      background: #ffd29e;


      &:hover {
        background-color: #ffa33b;
      }
    }

    .del_btn {
      background-color: #ffa48d;

      &:hover {
        background-color: #ff7856;
      }
    }
  }

  tbody td:first-of-type {
    text-align: left;
  }

  .btn_wrap {
    display: inline-flex;
    gap: 6px;
  }

}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 20px;

  button {
    border: none;
    padding: 4px 8px;
    border-radius: 10px;
    background-color: #ff9900;
    color: #ffffff;

    &:disabled {
      background-color: #b1b1b1;
      cursor: not-allowed;
    }

    &:hover {
      background-color: #ff7856;
    }
  }

  .current_page {
    font-weight: bold;

  }
}

.pagenumber {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 20px;

  button {
    border: none;
    border-radius: 30px;
    padding: 4px 8px;

    &:hover {
      background-color: #ffba51;
    }

    &.active {
      background-color: #ff9900;
      color: #ffffff;
      font-weight: bold;
    }
  }
}