$t_color: #333;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //overflow-x: hidden;
}


ol,
ul,
li {
  list-style: none;
}

body {
  font-family: "나눔 고딕", "맑은 고딕", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: $t_color;
}

nav {
  background: #ff9900;
  padding: 20px 10px;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.badge {
  background: rgb(233, 105, 0);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 2px 8px 4px 8px;
  font-size: 12px;
  line-height: 22px;
  margin-left: 6px;
  margin-bottom: 6px;
}

h1 {
  padding: 10px 0px;
}

h2 {
  color: rgb(236, 162, 0);
  line-height: 60px;
}